* {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  font-size: 100%;
}
body {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:focus {
  text-decoration: none;
}
section {
  padding-top: 90px;
}
.section-header {
  margin-bottom: 3%;
}
h2 {
  color: brown;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?j7er8y');
  src: url('../fonts/icomoon.eot?j7er8y#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?j7er8y') format('truetype'), url('../fonts/icomoon.woff?j7er8y') format('woff'), url('../fonts/icomoon.svg?j7er8y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i,
.icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-phone:before {
  content: "\e942";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-telegram:before {
  content: "\ea95";
}
.header {
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: #695f5f;
  color: blanchedalmond;
  z-index: 999;
}
.header-logo img {
  width: 70px;
  height: auto;
}
.header-nav-bar {
  text-align: right;
  padding-top: 20px;
}
.header-nav-bar a {
  padding: 0 5px 0;
  color: blanchedalmond;
}
.header-nav-bar a:hover,
.header-nav-bar a:focus {
  font-size: 1.1em;
  filter: drop-shadow(0 0 4px rgba(128, 0, 0, 0.5));
  padding-top: 0;
  transition: all 0.2s;
}
.knowledges__item img {
  width: 100px;
  height: 100px;
  margin-top: 5%;
  margin-bottom: 3%;
}
.knowledges__item progress {
  background-color: #791e1e;
}
.knowledges__item progress ::-ms-value {
  background-color: #695f5f;
}
.portfolio {
  margin-bottom: 5%;
}
.portfolio_description {
  margin-top: 3%;
  margin-bottom: 2%;
}
.portfolio_scrin {
  position: relative;
  background: blanchedalmond url("/img/portfolio/Elena.png") no-repeat;
  background-size: 100%;
}
.portfolio_scrin:hover a {
  opacity: 1;
  transition-delay: 0.5s;
}
.portfolio_scrin:hover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color ease-in-out 0.7s;
}
.portfolio_scrin a {
  display: block;
  width: 50%;
  color: blanchedalmond;
  background-color: brown;
  opacity: 0;
  text-align: center;
  padding: 12px 35px;
  margin: 20% auto;
  border-radius: 20px;
}
.footer {
  height: 100%;
  color: #ffffff;
  background-color: #010101;
  padding-top: 3%;
  padding-bottom: 1%;
}
.footer_links {
  padding-left: 15%;
}
.footer_links_icons {
  padding-left: 2%;
}
.footer_links_icons:hover {
  color: #791e1e;
}
.footer_links_icons i {
  font-size: 1.1em;
}
